{{ $page := .page }}
{{ $section := $page.CurrentSection }}
{{ $root := .root }}

<article class="w-100 w-50-m w-third-l mb4 pb4 bb bw1 bw0-ns pb0-ns">
  {{ if $root.Params.show_post_thumbnail }}
  <div class="ph0 ph2-m ph3-l">
    {{- $images := $page.Resources.ByType "image" -}}
    {{ $leaf := $images.GetMatch "*feature*" }}
    {{- $hex := $images.GetMatch "*hex*" -}}
    {{- $thumbnail := cond (ne $hex nil) $hex $leaf -}}
    {{ $branch := ($section.Resources.ByType "image").GetMatch "*feature*" }}
    {{- $thumbnail := cond (ne $thumbnail nil) $thumbnail $branch -}}
    <div class="aspect-ratio aspect-ratio--1x1 {{ if (ne $hex nil) }}contain{{ else }}cover{{ end }} dim"{{ with $thumbnail }}style="background: url('{{ .RelPermalink | absURL }}') center center no-repeat"{{ end }}><a href="{{ $page.Permalink }}" class="w-100 absolute top-0 bottom-0"></a></div>
  </div>
  {{ end }}
  <div class="ph0 pa2-m pa3-l">
    <div class="flex items-center flex-wrap mt2 mb1">
      <h1 class="f3 f4-l ma0 lh-title fw6"><a href="{{ $page.RelPermalink }}" class="db">{{ $page.Title | markdownify }}</a></h1>
      {{ with $page.Params.links }}
      <div class="flex items-center ml2 f4">
        {{ range . }}
          {{ $pack := or .icon_pack "fas" }}
          {{ $pack_prefix := $pack }}
          {{ if in (slice "fab" "fas" "far" "fal") $pack }}
            {{ $pack_prefix = "fa" }}
          {{ end }}
          {{ $link := .url }}
          {{ $scheme := (urls.Parse $link).Scheme }}
          {{ $target := "" }}
          {{ if not $scheme }}
            {{ $link = .url | relLangURL }}
          {{ else if in (slice "http" "https") $scheme }}
            {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
          {{ end }}
        <a class="link dim ml2" href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} title="{{ .name }}">{{ with .icon }}<i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}"></i>{{ end }}</a>
        {{ end }}
      </div>
      {{ end }}
    </div>
    {{ range first 1 ($page.GetTerms "series") }}
      <h2 class="f5"><i class="fas fa-stream fa-fw pr1"></i><small class="f5 ttu tracked">Series: </small><a class="link i dim" href="{{ $section.RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ end }}
    <p class="f4 mt1 mb0 lh-copy">{{ if $page.Params.Excerpt }}{{ $page.Params.Excerpt | markdownify }}{{ else }}{{ $page.Summary | markdownify }}{{ end }}</p>
    {{ if $root.Params.show_author_byline }}<p class="f7 db mv1">{{ if $page.Params.author }}By {{ $page.Params.author }}{{ end }}{{ with $page.Params.categories }} in{{ range . }} <a href="{{ "categories/" | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}{{ end }}</p>{{ end }}
    {{ if $root.Params.show_post_date }}<p class="f7 db mv1">{{ $page.PublishDate.Format "January 2, 2006" }}</p>{{ end }}
  </div>
</article>
